---
import { Font } from 'astro:assets';

import { getPokemons } from '@/api/get-pokemons';
import { Header } from '@/components/Header';
import { PokemonsList } from '@/components/PokemonsList';
import { getImageOptimizations } from '@/utils/get-image-optimizations';
import { Body, Main } from './index.styled';

import './index.css';

const pokemons = await getPokemons();
const imageOptimizations =
  pokemons.status === 'success'
    ? await getImageOptimizations(pokemons.data.map(({ imageUrl }) => imageUrl))
    : {};
---

<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <title>Покемоны API</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Интерфейс для просмотра нескольких покемонов."
    />
    <Font cssVariable="--font-raleway" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
  </head>
  <Body>
    <Main>
      <Header />
      <PokemonsList
        pokemons={pokemons}
        imageOptimizations={imageOptimizations}
        client:load
      />
    </Main>
  </Body>
</html>
