---
import ClickIcon from '@/public/icons/click.svg';
import { Header, Span, Tip, Title } from './Header.styled';
---

<Header>
  <Title>Покемоны API</Title>
  <Tip>
    <ClickIcon />
    <Span>Нажмите на нужного Покемона</Span>
  </Tip>
</Header>
